<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://servercafe.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>servercafe.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ServerCafe</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$ServerCafe</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="ModelCafe" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:tamserver.database.windows.net,1433;Initial Catalog=CafeDB;Persist Security Info=False;User ID=lesan1995;Password=Nmaddp1995;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:tamserver.database.windows.net,1433;Initial Catalog=CafeDB;Persist Security Info=False;User ID=lesan1995;Password=Nmaddp1995;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ServerCafe.Models.ModelCafe, ServerCafe" MigrationConfiguration="ServerCafe.Migrations.Configuration, ServerCafe" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False" xmlns="">
          <Destination Path="Data Source=tcp:tamserver.database.windows.net,1433;Initial Catalog=CafeDB;Persist Security Info=False;User ID=lesan1995;Password=Nmaddp1995;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:tamserver.database.windows.net,1433;Initial Catalog=CafeDB;Persist Security Info=False;User ID=lesan1995;Password=Nmaddp1995;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ServerCafe.Models.ApplicationDbContext, ServerCafe" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:tamserver.database.windows.net,1433;Initial Catalog=CafeDB;Persist Security Info=False;User ID=lesan1995;Password=Nmaddp1995;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ModelCafe-Web.config Connection String">
      <ParameterValue>Server=tcp:tamserver.database.windows.net,1433;Initial Catalog=CafeDB;Persist Security Info=False;User ID=lesan1995;Password=Nmaddp1995;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>